body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Added to center align items vertically */
    height: 100vh;
}

header {
    text-align: center;
}

main {
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 20px; /* Added margin top to create space between image and main content */
}

main p {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.5;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

img {
    max-width: 500px; /* Adjust according to your image size */
    height: auto;
    margin-top: 150px;
    margin-bottom: -100px;
    border-radius: 50%;
}

.social-link {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    color: #333; /* Default color for social media icons */
}

.social-link::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 5px;
}

.facebook::before {
    content: "\f09a"; /* Unicode for Facebook icon in Font Awesome */
    color: #3b5998; /* Facebook brand color */
}

.twitter::before {
    content: "\f099"; /* Unicode for Twitter icon in Font Awesome */
    color: #1da1f2; /* Twitter brand color */
}

.instagram::before {
    content: "\f16d"; /* Unicode for Instagram icon in Font Awesome */
    color: #c13584; /* Instagram brand color */
}